    </div>
</div>
<br/>
<!-- Footer -->
<footer class="page-footer font-small bg-dark">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-light">© 2020 Copyright:
        <a href="https://thaijavadev.blogspot.com/" class="text-light" target="_blank">https://thaijavadev.blogspot.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
</div> <!--end container-->
<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBody">

            </div>
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
        </div>
    </div>
</div>
<div class="modal fade" id="modalPleaseWait" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalPleaseWaitTitle">Please Wait</h5>
            </div>
            <div class="modal-body" id="modalPleaseWaitBody">
                <div class="progress">
                    <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width:100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalTitle">Confirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="confirmModalฺBody">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="closeConfirm('ok')">OK</button>
                <button type="button" class="btn btn-secondary" onclick="closeConfirm('cancel')">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script>
      $(document).ready(function() {
        /*$.get( "<?=WEB_URL?>ajax.php?cmd=num_cart", function( data ) {
          $( "#num_carts" ).html( data );
        });*/
      });
    </script>
</body>
</html>