<div th:replace="fragments/header.html"/>
<h1>ยินดีต้อนรับเข้าสู่ springboot tutorial ครับ </h1>
<pre>
    1.POST  https://tjd-springboot.herokuapp.com/api/register
 input
    {
    "userName": "neng",
    "password": "123",
    "email": "neng87@gmail.com"
}
    2.POST https://tjd-springboot.herokuapp.com/api/authenticate
{
    "userName": "user",
    "password": "123"
}
    3.GET https://tjd-springboot.herokuapp.com/api/users
    should be succces
</pre>
<!--
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <td>#</td>
            <td>Topic</td>
            <td>Title</td>
            <td>View</td>
            <td>Answer</td>
        </tr>
    </thead>
    <tbody>
        <tr th:each="row : ${topics}">
            <td th:text="${row.id}">1</td>
            <td><a href="view.html" th:href="@{'/' + ${row.id}}" th:text="${row.title}">Title ...</a></td>
            <td th:text="${category.numView}">Text ...</td>
            <td th:text="${category.numTopic}">NumTopic ...</td>
        </tr>
    </tbody>
</table>
-->
<div th:replace="fragments/footer.html"/>