<div th:replace="fragments/header.html"/>
<form th:action="@{/register}" method="post" autocomplete="off">
    <table class="table table-striped">
        <tbody>
        <tr>
            <td><label for="username">username* </label></td>
            <td><input id="username" type="username" name="userName" placeholder="รหัสผ่าน" autocomplete="off" maxlength="10"></td>
        </tr>
        <tr>
            <td><label for="password">รหัสผ่าน* </label></td>
            <td><input id="password" type="password" name="password"  autocomplete="off" maxlength="10"></td>
        </tr>
        <tr>
            <td><label for="email">Email address*</label></td>
            <td><input id="email" type="email" name="email" aria-describedby="emailHelp" placeholder="กรุณาใส่ email" autocomplete="off"></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit" class="btn btn-primary">ลงทะเบียน</button>
                <button type="button" class="btn btn-secondary" onclick="history.back()">ยกเลิก</button>
            </td>
        </tr>
        </tbody>
    </table>
</form>
<div th:replace="fragments/footer.html"/>